In [1]:
import pandas as pd
import numpy as np

In [11]:
horse_df = pd.read_csv('horse_data.csv')
horse_df = pd.read_csv('horse_data.csv', na_values = "?")
horse_df.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2

In [12]:
horse_df.rename(columns={ horse_df.columns[1]: "Age", horse_df.columns[2]: "Hospital_number", horse_df.columns[4]: "Pulse", \
                       horse_df.columns[6]: "Temp_of_extremities", horse_df.columns[7]: "Peripheral_pulse", horse_df.columns[11]: "Peristalsis",\
                       horse_df.columns[12]: "Abdominal_distension", horse_df.columns[22]: "Outcome"  }, inplace=True)
hs_df = horse_df[['Age', 'Hospital_number', 'Pulse','Temp_of_extremities','Peripheral_pulse', 'Peristalsis','Abdominal_distension','Outcome']]
hs_df.head()

,Age,Hospital_number,Pulse,Temp_of_extremities,Peripheral_pulse,Peristalsis,Abdominal_distension,Outcome
0,1,534817,88.0,NaN,NaN,4.0,2.0,3.0
1,1,530334,40.0,1.0,1.0,3.0,1.0,1.0
2,9,5290409,164.0,4.0,1.0,4.0,4.0,2.0
3,1,530255,104.0,NaN,NaN,NaN,NaN,2.0
4,1,528355,NaN,2.0,1.0,3.0,2.0,1.0

In [13]:
# 1.
print('Значение моды итога: ', horse_df.Outcome.mode()[0], ' - основная масса лошадей переживают колики') 
print('Значение моды возрастной категории: ', horse_df.Age.mode()[0], ' -большинство лошадей - взрослые особи')

Значение моды итога:  1.0  - основная масса лошадей переживают колики
Значение моды возрастной категории:  1  -большинство лошадей - взрослые особи

In [16]:
hs_df.describe()

,Age,Hospital_number,Pulse,Temp_of_extremities,Peripheral_pulse,Peristalsis,Abdominal_distension,Outcome
count,299.00000,2.990000e+02,275.000000,243.000000,230.000000,255.000000,243.000000,298.000000
mean,1.64214,1.087748e+06,71.934545,2.345679,2.013043,2.913725,2.259259,1.550336
std,2.17730,1.532026e+06,28.680522,1.046369,1.042672,0.976298,1.061472,0.737967
min,1.00000,5.184760e+05,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.00000,5.289040e+05,48.000000,1.000000,1.000000,3.000000,1.000000,1.000000
50%,1.00000,5.303100e+05,64.000000,3.000000,1.500000,3.000000,2.000000,1.000000
75%,1.00000,5.347360e+05,88.000000,3.000000,3.000000,4.000000,3.000000,2.000000
max,9.00000,5.305629e+06,184.000000,4.000000,4.000000,4.000000,4.000000,3.000000

In [14]:
# выборка лошадей, умерших от колик
h_df = hs_df[hs_df['Abdominal_distension'].isin(['3', '4'])]
H = h_df.loc[h_df['Outcome'] == 2]

In [15]:
dict = {'point':['Pulse','Temp_of_extremities','Peripheral_pulse', 'Peristalsis' ],
        'max':[H.Pulse.max(), H.Temp_of_extremities.max(), H.Peripheral_pulse.max(), H.Peristalsis.max()], 
        'min': [ H.Pulse.min(), H.Temp_of_extremities.min(), H.Peripheral_pulse.min(), H.Peristalsis.min()], 
        'mode':[H.Pulse.mode()[0], H.Temp_of_extremities.mode()[0], H.Peripheral_pulse.mode()[0], H.Peristalsis.mode()[0]],
        'median':[H.Pulse.median(),H.Temp_of_extremities.median(),H.Peripheral_pulse.median(),H.Peristalsis.median()]} 
  

df = pd.DataFrame(dict) 
df
# физ.показатели: умирали как совершенно здоровые особи (минимальные показатели в группе смертности), так и , в основной массе, 
# ослабоенные, что сопровождалось заметным повышением пульса, нарушением кровообращения, высоким уровнем стресса и токсичности.

                 point    max   min  mode  median
0                Pulse  184.0  36.0  96.0    89.0
1  Temp_of_extremities    4.0   1.0   3.0     3.0
2     Peripheral_pulse    4.0   1.0   3.0     3.0
3          Peristalsis    4.0   1.0   3.0     3.0

In [17]:
# 2.
h2 = hs_df.append(hs_df.quantile(0.25) - (hs_df.quantile(0.75)-hs_df.quantile(0.25))*1,5)
h3 = h2.append(h2.quantile(0.75) + (h2.quantile(0.75)-h2.quantile(0.25))*1,5)
h3

,Age,Hospital_number,Pulse,Temp_of_extremities,Peripheral_pulse,Peristalsis,Abdominal_distension,Outcome
0,1.0,534817.0,88.0,NaN,NaN,4.0,2.0,3.0
1,1.0,530334.0,40.0,1.0,1.0,3.0,1.0,1.0
2,9.0,5290409.0,164.0,4.0,1.0,4.0,4.0,2.0
3,1.0,530255.0,104.0,NaN,NaN,NaN,NaN,2.0
4,1.0,528355.0,NaN,2.0,1.0,3.0,2.0,1.0
...,...,...,...,...,...,...,...,...
296,1.0,529386.0,72.0,4.0,3.0,4.0,3.0,2.0
297,1.0,530612.0,100.0,3.0,3.0,3.0,3.0,1.0
298,1.0,534618.0,40.0,NaN,NaN,NaN,NaN,3.0
299,1.0,523072.0,8.0,-1.0,-1.0,2.0,-1.0,0.0
300,1.0,540554.5,128.0,5.0,5.0,5.0,5.0,3.0

In [18]:
# две последние строки показывают случаи с оценками за пределами уровней ранжирования. Явно ошибочные данные - 
# следует исключить из данных для анализа.

In [19]:
# 3.
hs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   299 non-null    int64
 1   Hospital_number       299 non-null    int64
 2   Pulse                 275 non-null    float64
 3   Temp_of_extremities   243 non-null    float64
 4   Peripheral_pulse      230 non-null    float64
 5   Peristalsis           255 non-null    float64
 6   Abdominal_distension  243 non-null    float64
 7   Outcome               298 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 18.8 KB

In [20]:
for col in hs_df.columns:
    missing = hs_df[col].isnull().mean()
    print(f'{col} - {missing :.1%}')

Age - 0.0%
Hospital_number - 0.0%
Pulse - 8.0%
Temp_of_extremities - 18.7%
Peripheral_pulse - 23.1%
Peristalsis - 14.7%
Abdominal_distension - 18.7%
Outcome - 0.3%

In [21]:
# процент пропусков по температуре конечностей обЪясним- является субъективной характеристикой- пропуски носят случайный характер 
# - и скорее всего вызваны состоянием, близким к нормальному - пропуски принимаются за константу нормального состояния = 1
# Аналогично = пропуски перифирического пульса принимаются за 1, перистальтики = 2.
# Пульс - характеристика точно измеряемая и пропуски малообЪяснимы, как показатели используются наиболее массовые результаты 
# - мода.
# Вздутие живота- важный показатель, поэтому отсутствие его малообяъснимо , случайно, в идеале должно браться в зависимости от 
# комбинации нескольких параметров. Здесь для упрощения используется мода.
# Пропуски результата лечения = игнорируются.

In [24]:
hs_df.Pulse.fillna(hs_df.Pulse.mode()[0], inplace=True)
hs_df.Abdominal_distension.fillna(hs_df.Abdominal_distension.mode()[0], inplace=True)
hs_df.Temp_of_extremities.fillna(1.0, inplace = True)
hs_df.Peripheral_pulse.fillna(1.0, inplace = True)
hs_df.Peristalsis.fillna(2.0, inplace = True)
hs_df.head()

,Age,Hospital_number,Pulse,Temp_of_extremities,Peripheral_pulse,Peristalsis,Abdominal_distension,Outcome
0,1,534817,88.0,1.0,1.0,4.0,2.0,3.0
1,1,530334,40.0,1.0,1.0,3.0,1.0,1.0
2,9,5290409,164.0,4.0,1.0,4.0,4.0,2.0
3,1,530255,104.0,1.0,1.0,2.0,1.0,2.0
4,1,528355,48.0,2.0,1.0,3.0,2.0,1.0

In [25]:
hs_df.describe()

,Age,Hospital_number,Pulse,Temp_of_extremities,Peripheral_pulse,Peristalsis,Abdominal_distension,Outcome
count,299.00000,2.990000e+02,299.000000,299.000000,299.000000,299.000000,299.000000,298.000000
mean,1.64214,1.087748e+06,70.013378,2.093645,1.779264,2.779264,2.023411,1.550336
std,2.17730,1.532026e+06,28.262311,1.079675,1.009072,0.957891,1.075718,0.737967
min,1.00000,5.184760e+05,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.00000,5.289040e+05,48.000000,1.000000,1.000000,2.000000,1.000000,1.000000
50%,1.00000,5.303100e+05,60.000000,2.000000,1.000000,3.000000,2.000000,1.000000
75%,1.00000,5.347360e+05,88.000000,3.000000,3.000000,3.000000,3.000000,2.000000
max,9.00000,5.305629e+06,184.000000,4.000000,4.000000,4.000000,4.000000,3.000000